.similar-topic-container .similar-topics-heading{
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 2.5rem;
}

.explore-more-btn {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 60px;
    background-color: rgb(107, 107, 243);
    color: white;
    transform: 0.3s;
    font-size: 1.25rem;
}

.explore-more-btn:hover {
    background-color: rgb(82, 82, 211);
}