.admin-main-operations {
    display: flex;
}

.admin-page-content {
    margin: auto;
}

.review-post-btn, .delete-profile-btn {
    width: 120px;
    height: 60px;
    border-radius: 60px;
    font-size: 0.9rem;
}

.delete-profile-btn {
    background-color: white;
    transition: 0.3s;
    border: 2px rgb(107, 107, 243) solid;    
    margin-left: 0.5rem;
    color: rgb(107, 107, 243);
}

.review-post-btn {
    background-color: rgb(107, 107, 243);
    transition: 0.3s;
    border: none;
    margin-right: 0.5rem;
    color: white;
}

.delete-profile-btn:hover {
    background-color: rgb(107, 107, 243);
    color: white;
}


.add-category-btn {
    margin-left: 1rem;
    width: 120px;
    height: 60px;
    padding: 1rem;
    border-radius: 60px;
    border: none;
    background-color: rgb(107, 107, 243);
    color: white;
}

.review-post-btn:hover, .add-category-btn:hover {
    background-color: rgb(82, 82, 211);
}

.action-btns {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.category-input {
    padding: 1rem;
}

.invalid-input {
    color: red;
    font-weight: 700;
}